@font-face {
  font-family: 'HeaderFont';
  src: url(../assets/fonts/DebugMenu.ttf)("truetype");
}


.container0{
width: 100%;
display:flex;
}

.container1 {
  display: grid;
  width: 1400px;
  height: auto;
  grid-gap:20px;
  grid-template-areas:
          "header header header"
          "left main right"
          "... footer ...";
  grid-template-columns: 22% 50% 1fr;
  grid-template-rows: 80px 1fr 80px;
}

@media screen and (max-width: 1024px)  {

 .container1 {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "left"
    "right"
    "footer"
}
}


header {
  grid-area: header;
}

.box{
  width:800px;
  font-size:14px;
}



aside.left {
  grid-area: left;

}

aside .img{
  width: auto;
}

aside.right {
  grid-area: right;
}

main {
  height: 400px;
  grid-area: main;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

main img{
  width: auto;
}

footer {
  grid-area: footer;
}

.icons{
width: 5%;
margin-right:170px;
text-align: center;
background-color: none;
}

.icon{
  background: rgba(255, 255, 255, 0.034);
  box-shadow: none;
  border: 0px;
  opacity: 0.5;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.icon:hover{
  background: rgba(255, 255, 255, 0.075);
  text-decoration: underline dotted;

}

.icons button:active{
  box-shadow:none;
}

.icons .icon{
  display: grid;
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
  padding-left:10px;
  padding: 8px;
  position: relative;
  opacity: 1;
  font-weight: 400;
  text-align: center;}

 
button{
  vertical-align: middle;
}

.icons button:hover{
  vertical-align: middle;
}
