@font-face {
  font-family: 'HeaderFont';
  src: url(../assets/fonts/DebugMenu.ttf)("truetype");
}

@font-face {
  font-family: 'MSSans';
  src: url(../assets/fonts/MSSansSerif.ttf)("truetype");
}


.container0{
width: 100%;
display:flex;
}

.container1 {
  display: grid;
  width: 1400px;
  height: 100%;
  grid-gap:2px;
  grid-template-areas:
          "header header header"
          "left main right"
          "... footer ...";
  grid-template-columns: 1fr 50% 24%;
  grid-template-rows: auto;
}

@media screen and (max-width: 1024px)  {

 .container1 {
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "left"
    "right"
    "footer"
}

  header{
    display:grid;
    grid-area: header;
  }

  .icons{
    display: none;
  }

}

@media screen and (min-width: 700px)  {

   header{
     display:grid;
     grid-area: header;
     display: none;
   }
 
   .icons{
     display: inline;
   }
 
 }


header {
  grid-area: header;
}

.box{
  width:800px;
  font-size:14px;
}



aside.left {
  grid-area: left;

}

aside .img{
  width: auto;
}

aside.right {
  grid-area: right;
}

main {
  height: auto !important;
  overflow: hidden;
  grid-area: main;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

main img{
  width: auto;
}

footer {
  grid-area: footer;
}

.icons{
margin-right:170px;
text-align: center;
width: 1%;
}

.buttons{
  width: 100%;
}

.buttons img{
  opacity: .8;
  padding:3px;
}

.buttons img:hover{
  transform:scale(110%);
  opacity: 1;
}


@media all and (max-width: 700px) {
  .icons .icon{
  }
}

.icon{
  background: rgba(255, 255, 255, 0.034);
  box-shadow: none;
  border: 0px;
  opacity: 0.5;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.icon:hover{
  background: rgba(255, 255, 255, 0.075);
  text-decoration: underline dotted;

}

.icons button:active{
  box-shadow:none;
}

.icons .icon{
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
  padding-left:10px;
  padding: 8px;
  position: relative;
  opacity: 1;
  font-weight: 400;
  text-align: center;}

  .mobile-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 14px;
    text-align: center;
  }

  .mobile-nav a{
    color:black
  }

  #icon1{
    width: auto;
    padding: 10px;
  }

 
button{
  vertical-align: middle;
}

.icons button:hover{
  vertical-align: middle;
}

legend{
  font-weight: 500;
}

/* button marquee styles */
.marquee {
  --gap: 5px;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  margin-top: 5px;
  margin-bottom: 5px;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

@keyframes scroll {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(calc(-100% - var(--gap)));
  }
}

/* button marquee animation */
.marquee__content {
  animation: scroll 10s linear infinite; }